<div>
    <div class="row ps-3 pt-4"><h1>Thêm Mũi Tiêm</h1></div>
    <div class="container m-5">
        <form method="POST" action="/admin/injection/store">
            <div class="row m-4">
                <div class="col-12 mt-4">
                    <label for="injection-name" class="mb-2">Tên Vaccine</label>
                    <input class="form-control form-control" name="nameVaccine" id="injection-name" type="text" required style="width:800px;">
                </div>
                <div class="col-12 mt-4">
                    <label for="object-name" class="mb-2">Đối Tượng</label>
                    <select class="form-select form-select" name="object" id="object-name" style="width: 800px;">
                        <option value="Trẻ Em" selected>Trẻ Em</option>
                        <option value="Bà Mẹ">Bà Mẹ</option>
                        <option value="Bà Mẹ">Bà Mẹ & Trẻ Em</option>
                    </select>
                </div>
                <div class="col-12 mt-4">
                    <label for="injection-made" class="mb-2">Xuất Xứ</label>
                    <input class="form-control form-control" name="made" id="injection-made" type="text" style="width:800px;">
                </div>
                <div class="col-12 mt-4">
                    <label for="injection-uses" class="mb-2">Công Dụng</label>
                    <input class="form-control form-control" name="description" id="injection-uses" type="text" style="width:800px;">
                </div>
                <div class="col-12 mt-4">
                    <label for="injection-number" class="mb-2">Số Lượng</label>
                    <input class="form-control form-control" name="number" id="injection-number" type="text" style="width:800px;">
                </div>
                <div class="col-12 mt-4">
                    <label for="injection-date" class="mb-2">Ngày Hết Hạn</label>
                    <input class="form-control form-control" name="date" id="injection-date" type="text" style="width:800px;">
                </div>
            </div>
            <div class="row m-4 p-5">
                <a href="/admin/injection" class="btn btn-danger me-4 ms-auto" style="width: 90px;">Huỷ</a>
                <button type="submit" class="btn btn-primary me-5" style="width: 90px;">Thêm</button>
            </div>
        </form>
    </div>
</div>