<div class="row ps-3 pt-4"><h1>Cập Nhật Sổ Khám Bệnh</h1></div>
 <div class="row">
    <a href="/admin/user/info/medical" class="btn btn-danger ms-auto" style="width: 100px;">Huỷ</a>
    <button href="/admin/user" class="btn btn-primary ms-3 me-5" style="width: 100px;">Lưu</button>
</div>
<div>
    <div class="row m-5 justify-content-center">
        <div class="col-6 border-2 border-end shadow-sm">
            <div class="row mt-5">
                <div class="col-4"><strong>Họ Tên</strong></div>
                <div class="col-8">Hoả Đức Việt</div>
            </div>
            <div class="row mt-3">
                <div class="col-4"><strong>Ngày Sinh</strong></div>
                <div class="col-8">21/02/2002</div>
            </div>
            <div class="row mt-3">
                <div class="col-4"><strong>Giới Tính</strong></div>
                <div class="col-8">Nam</div>
            </div>
            <div class="row m-5">
                <table class="table shadow-sm">
                    <thead class="">
                        <tr>
                            <th>Ngày</th>
                            <th>Loại</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19/11/2022</td>
                            <td>Khám Bệnh</td>
                        </tr>
                        <tr>
                            <td>18/11/2022</td>
                            <td>Tiêm Chủng</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
           <div class="col-12 card mb-3 d-none" style="width: 25rem;">
                <div class="card-body shadow">
                    <h4 class="card-title text-center">Thông Tin</h4><hr>
                    <div class="row">
                        <div class="col-6"><strong>Trạng Thái</strong></div>
                        <div class="col-6">Đã Khám</div>
                        <div class="col-6 mt-2"><strong>Thời Gian</strong></div>
                        <div class="col-6 mt-2">7:30</div>
                        <div class="col-6 mt-2"><strong>Ngày</strong></div>
                        <div class="col-6 mt-2 mb-2">19/11/2022</div><hr>
                        <div class="col-12"><strong>Triệu Chứng Ban Đầu</strong></div>
                        <div class="col-12 mt-2"><p>Đau bụng hoa mắt</p></div><hr>
                        <div class="col-12 mt-2"><strong>Kết Quả Thăm Khám</strong></div>
                        <div class="col-12 mt-2"><p>Rối loạn tiền đình</p></div>

                    </div>
                </div>
            </div><br>
            <div class="col-12 card mb-3" style="width: 25rem;">
                <div class="card-body shadow-sm">
                    <h4 class="card-title text-center">Thông Tin</h4><hr>
                    <div class="row">
                        <div class="col-6"><strong>Trạng Thái</strong></div>
                        <div class="col-6">Đã Tiêm</div>
                        <div class="col-6 mt-2"><strong>Thời Gian</strong></div>
                        <div class="col-6 mt-2">7:30</div>
                        <div class="col-6 mt-2"><strong>Ngày</strong></div>
                        <div class="col-6 mt-2 mb-2">19/11/2022</div>
                        <div class="col-6 mt-2"><strong>Mũi Tiêm</strong></div>
                        <div class="col-6 mt-2 mb-2">Heroin</div><hr>
                        <div class="col-12"><strong>Chỉ Định Sau Tiêm</strong></div>
                        <div class="col-12 mt-2"><textarea class="form-control" rols="3" cols="2">Đau bụng hoa mắt</textarea></div><hr>
                        <div class="col-12 mt-2"><strong>Triệu Chứng Sau Tiêm</strong></div>
                        <div class="col-12 mt-2"><textarea class="form-control" rols="3" cols="2">Đau bụng hoa mắt</textarea></div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>