<div class="container-login">
    <div class="row d-flex align-items-center justify-content-center mt-5">
        <img src="./img/logo.png" alt="logo.png" style="width:100px;">
        <div class="col-12 text-center mt-2"><strong>MAMA & BABY</strong></div>
    </div>
    <div class="row ">
        <div class="col-4"></div>
        <div class="col-4 mt-4">
            <form action="">
                <div class="col-12 mt-5 text-center"><h1>Forgot Password</h1></div>
                <div class="">
                    <label for="email-forgot" class="mt-4 mb-2"><strong class="col-12">Email</strong></label><br>
                    <input class="form-control form-control" name="account" id="password-login" type="text" opacity="0.1">
                   
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mt-5">
                    <button type="submit" class="btn btn-primary" style="width: 200px;">Xác Thực</button>
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mt-5">
                    <a href="/" class="btn-link ms-auto"><strong>Đăng Nhập</strong></a>
                    <a href="/signup" class="ms-5 me-auto"><strong> Đăng Ký</strong></a>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>