
<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="m-3">
            <div class="row m-5">
                <h3>WELCOME Clinics</h3>
            </div>
            <div class="row m-2">
                <p style="font-size: 50px;"><strong>
                Because of <br> we never Stop</p>
                </strong>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-primary button-option">See Details</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <img src="/img/hospital.png" alt="Hospital.png" class="p-5" style="width: 100%; heigth: 100%;">
    </div>
</div>
<div class="row mt-5">
    <div class="col-3">
        <div class="row justify-content-center">
                <button class="btn btn-primary button-option">Khám Bệnh</button>
        </div>
    </div>
        <div class="col-3">
        <div class="row justify-content-center">
                <button class="btn btn-primary button-option">Tiêm Chủng</button>
        </div>
    </div>
        <div class="col-3">
        <div class="row justify-content-center">
                <button class="btn btn-primary button-option">Thống Kê</button>
        </div>
    </div>
        <div class="col-3">
        <div class="row justify-content-center">
                <button class="btn btn-primary button-option">Hỏi Đáp</button>
        </div>
    </div>
</div>
<hr>
<div class="row d-flex align-items-center justify-content-center m-2" style="font-size: 25px;">About Us</div>
