<div>
    <div class="row">
        <h1>Cập Nhật Thông Tin Người Dùng</h1>
    </div>
    <div class="row mt-5 ms-5">
        <h3>Thông Tin Mẹ</h3>
    </div>
    <form method="POST" action="/update/profile/first/stored" class="ms-5">
        <div class="row ms-5">
            <div class="col-12 mt-4">
                <label for="name-parent" class="mb-2">Họ Tên</label>
                <input class="form-control form-control" name="name" id="name-parent" type="text" opacity="0.1" style="width:800px;">
            </div>
            <div class="col-12 mt-4">
                <label for="dateOfBirth-prent" class="mb-2">Ngày Sinh</label>
                <input class="form-control form-control" name="dateOfBirth" id="dateOfBirth" type="text" opacity="0.1" style="width:800px;">
            </div>
            <div class="col-12 mt-4">
                <label for="address-parent" class="mb-2">Quê Quán</label>
                <input class="form-control form-control" name="address" id="address-parent" type="text" opacity="0.1" style="width:800px;">
            </div>
            <div class="col-12 mt-4">
                <label for="phone-parent" class="mb-2">SĐT</label>
                <input class="form-control form-control" name="phone" id="phone-parent" type="text" opacity="0.1" style="width:800px;">
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-center mt-5">
            <button type="submit" class="btn btn-primary" style="width: 150px;">Lưu</button>
        </div>
    </form>
</div>