<div class="container-login">
    <div class="row d-flex align-items-center justify-content-center mt-5">
        <img src="img/logo.png" alt="logo.png" style="width:100px;">
        <div class="col-12 text-center mt-2"><strong>MAMA & BABY</strong></div>
    </div>
    <div class="row ">
        <div class="col-4"></div>
        <div class="col-4 mt-4">
            <form method="POST" action="/validate/signin">
                <div class="col-12 mt-5 text-center"><h1>Sign In</h1></div>
                <div class="">
                    <label for="account-login" class="mt-4 mb-2"><strong class="col-12">Tài Khoản</strong></label><br>
                    <input class="form-control form-control" name="account" id="password-login" type="text" opacity="0.1">
                    <label for="password-login" class="mt-4 mb-2"><strong class="col-12">Mật Khẩu</strong></label><br>
                    <input class="form-control form-control" name="password" id="password-login" type="password" opacity="0.1">
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center mt-5">
                    <button class="btn btn-primary" style="width: 200px;">Đăng Nhập</button>
                </div>
                <div class="col-12 mt-5">
                    <p class="">Bạn chưa có tài khoản ?<a href="/forgot" class="btn-link ms-3">Quên Mật Khẩu </a><a href="/signup" class="ms-3"><strong> Đăng Ký</strong></a> </p>
                </div>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>