<div class="row">
    <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="">
            <div class="row mb-5">
                <p class="" style="font-size: 30px; color: rgb(1, 28, 233) ;">Xin Chào <strong>{{name}}</strong></p>
            </div>
            <div class="row mt-5 m-2">
                <h3>WELCOME Clinics</h3>
            </div>
            <div class="row m-2">
                <p style="font-size: 50px;"><strong>
                Because of <br> we never Stop</p>
                </strong>
            </div>
           
        </div>
    </div>
    <div class="col-6">
        <img src="/img/hospital.png" alt="Hospital.png" class="p-5" style="width: 100%; heigth: 100%;">
    </div>
</div>
<div class="row mt-5">
    <div class="col-3">
        <div class="row justify-content-center">
            <a href="/user/register/doctor" class="btn btn-primary button-option">Khám Bệnh</a>
        </div>
    </div>
    <div class="col-3">
        <div class="row justify-content-center">
            <a href="/user/register/injection" class="btn btn-primary button-option">Tiêm Chủng</a>
        </div>
    </div>
</div>
<hr>
<div class="row d-flex align-items-center justify-content-center m-2" style="font-size: 25px;">About Us</div>
